.page-header
	h1 Stages
	
ol.list-group
	- var currentStageReached = false;
	
	mixin stage(title, stageName)
		if user.stage === stageName
			li.list-group-item= title
			- currentStageReached = true
		else if currentStageReached
			li.list-group-item.disabled= title
		else
			li.list-group-item.list-group-item-success= title
	
	+stage("Apply at Nihongo Center", "")
	+stage("Pay the application fee", "payApplicationFee")
	+stage("Receive the Certificate of Eligibility", "receiveCoE")
	+stage("Payment of school fees", "paySchoolFee")
	+stage("Acquire your visa", "acquireVisa")
	+stage("Reserve accomodation", "reserveAccomodation")
	+stage("Arrive in Japan", "arriveInJapan")
	+stage("Begin classes", "beginClasses")
	+stage("Receive course certificate", "receiveCertification")