if !user
	p= __("error.notLoggedIn")
else
	.page-header
		h1= __("monthNames." + month) + " " + year
	
	each student in course.students
		p
			a(href=`/student/${student.email}`)= student.givenName + " " + student.familyName