if !user
	p Not logged in!
else
	.page-header
		h2 Students
	
	.field.form-group
		input.form-control(id="search", onkeyup="search();", placeholder="Search...")
	
	script
		include searchfield.js
	
	#searchResult
		