if !user
	p Not logged in!
else
	.page-header
		h2 Students
	
	.field.form-group
		input.form-control(id="search", onkeyup="window.search(event);", placeholder="Search...")
	
	#searchResult
		.search-tips
			p Search by:
			p Start date: "10-2017" for October 2017 applicants
			p Start year: "2017"
			p Name: "Max Mustermann"
			p Country: "Germany", "France"
			p Gender: "male", "female"
			p E-Mail: "email@address.com"
			p JLPT level: "N1"