.search-result-count, .search-tips
	opacity 0.5
	font-size 0.9em
	text-align center

.search-tips
	margin-top 3em

td
	.form-group
		margin-bottom 0 !important

.flag
	width 32px

.asl
	opacity 0.35
	font-size 0.95em