#search-container
	position relative

#search-result-count, .search-tips
	opacity 0.45

.search-tips
	text-align center
	margin-top 3em

#search-result-count
	display inline-block
	width auto
	position absolute
	top 50%
	right 1em
	text-align right
	transform translateY(-50%)
	pointer-events none

td
	.form-group
		margin-bottom 0 !important

.flag
	width 32px

.asl
	opacity 0.35
	font-size 0.95em