h2 Students

if typeof students === "undefined"
	p You are not authorized to view this page!
else if students.length === 0
	p No students registered yet!
else
	each student in students
		p
			span= "ã€" + student.startYear + "/" + student.startMonth + "ã€‘ "
			a(href=student.permaLink).ajax= student.givenName + " " + student.familyName