if email
    #data
        #email= email
        #password= password
else
    a(href="/auth/google")
        img(src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Long_base_44dp.png", alt="Sign in with Google", width="220")