if user
	p= __("error.alreadyLoggedIn", displayName)
else
	.login
		a.logo(href="/")
			img(src="/images/login-logo-lighton.png", alt="My Nihongo Center")

		div.auth-options
			div
				a(href="/auth/google")
					img(src="/images/google-login.png", alt="Sign in with Google", width="220")

			div
				a(href="/auth/facebook")
					img(src="/images/facebook-login.png", alt="Sign in with Facebook", width="220")

		//- div(style='font-family: "Open Sans", "Ubuntu"; clear: both; float: left; color: white; margin-top: 3em')
		//- 	span Facebook login is currently under maintenance. Please be patient until the problem is solved.