h2 Login

if email
    #data
        #email= email
        #password= password
else
    form(action="/", method="post")
        input(name="email", type="text", placeholder="E-Mail")
        input(name="password", type="password", placeholder="Password")
        input(type="submit")