include ../../mixins/forms.jade

if !user
	p Not logged in!
else if !user.email
	p An error occured: E-Mail not available.
else
	.page-header
		h1 Upload new file
	
	form(id="uploadForm", enctype="multipart/form-data", action="/uploads", method="post")
		.field.form-group
			label(for="file") File upload (max. 20 MB)
			input.form-control(type="file", name="file")
		.form-group
			+select("purpose", undefined, fileTypes)
		button.btn.btn-primary(type="submit") Upload file
	
	p &nbsp;
	
	.page-header
		h1 Your uploads
	
	table.uploads.table
		thead
			tr
				th Purpose
				th Link
				th Delete
		each upload, index in user.uploads
			tr.upload
				td.purpose= purposeToName[upload.purpose]
				td
					if upload.mimetype.indexOf("image/") !== -1
						.glyphicon.glyphicon-picture(style="margin-right: 0.25em")
					else
						.glyphicon.glyphicon-file(style="margin-right: 0.25em")
					a(href="/" + upload.path)= upload.originalname
				td
					a(href="javascript:remove('uploads', 'Upload', " + index + ");", role="button").btn.btn-danger
						.glyphicon.glyphicon-trash
				
	script
		include ../../scripts/arrays.js