input
button
	float left
	width auto
	margin 0.5em
	display block
	
button
	:hover
		background rgb(32, 32, 32)
		color rgb(255, 255, 255)
		
.field
	float left
	display block
	width 100%
	
.uploads
	float left
	width 100%
	list-style-type none
	
.upload
	border 1px solid rgba(0, 0, 0, 0.5)
	border-radius 3px
	padding 1em
	margin 0.25em 0