include ../../mixins/forms.jade

if !user
	p Not logged in!
else
	- var 何 = undefined;
	
	+datalist("cities", cities)
	+datalist("countries", countries)
	+datalist("nationalities", nationalities)
	
	.page-header
		h2 Personal
	
	.profile
		+text("Given name:", "givenName")
		+text("Family name:", "familyName")
		
	.profile
		+select("Gender:", "gender", user.gender, genderOptions)
		+select("Marital status:", "maritalStatus", user.maritalStatus, maritalStatusOptions)
		
	.profile
		+date("Birthday:", "birthDay", user.birthDay)
		+text("Birthplace:", "birthPlace", user.birthPlace, "", "cities")
		+text("Age:", "age", age, "", "", true)
	
	.page-header
		h2 Country
	
	.profile
		+text("Country:", "country", user.country, "", "countries")
		+text("Nationality:", "nationality", user.nationality, "", "nationalities")
	
	.page-header
		h2 Work
	
	.profile
		+text("Occupation:", "occupation", user.occupation)
		+select("Occupation type:", "occupationType", user.occupationType, occupationTypeOptions)
		
	.page-header
		h2 Contact
	
	.profile
		+text("Home address:", "address", user.address, "🏠")
		+text("Address in Japan:", "addressAbroad", user.addressAbroad, "🏠 Only if you have one.")
		
	.profile
		+tel("Telephone:", "telephone", user.telephone, "☎")
		+tel("Telephone in Japan:", "telephoneAbroad", user.telephoneAbroad, "☎ Only if you have one.")
	
	.page-header
		h2 Course
	
	.profile
		+select("Course:", "course", user.course, courseOptions)
		
	.profile
		+select("Start year:", "startYear", user.startYear, startYearOptions)
		+select("Start month:", "startMonth", user.startMonth, startMonthOptions)
		
	.page-header
		h2 Education
	
	.profile
		+select("Education:", "education", user.education, educationOptions)
		+text("Name of educational institution:", "educationalInstitutionName", user.educationalInstitutionName, "School or university name")
		
		+month("Graduation date:", "graduationDate", user.graduationDate)
		+number("Total period of education:", "totalPeriodOfEducation", 何, "How many years?")
		
		+select("Plan after graduating from Nihongo Center:", "planAfterGraduation", user.planAfterGraduation, planAfterGraduationOptions)
		
	.page-header
		h2 Passport
	
	.profile
		+text("Passport number:", "passportId", user.passportId, "e.g. TK1234567")
		+date("Passport date of expiration:", "passportDateOfExpiration", user.passportDateOfExpiration)
		
	.profile
		+number("Number of past entries into Japan:", "numberOfPastEntries", 何, "How often did you go to Japan?")
		
	.profile
		+date("Last entry from:", "lastEntryFrom")
		+date("Last entry to:", "lastEntryTo")
	
	.page-header
		h2 Family
	
	#family-members.profile
		each member, index in user.familyMembers
			.profile.array-element.family-member
				+textInArray("Full name:", "familyMembers", index, "name", member.name)
				+textInArray("Relation:", "familyMembers", index, "relation", member.relation)
				+textInArray("Age:", "familyMembers", index, "age", member.age)
				+textInArray("Occupation:", "familyMembers", index, "occupation", member.occupation)
				+textInArray("Nationality:", "familyMembers", index, "nationality", member.nationality, "", "nationalities")
				+textInArray("Country:", "familyMembers", index, "country", member.country, "", "countries")
				a(href="javascript:remove('profile', 'FamilyMember', " + index + ");").delete-button Delete
	
	button(onclick="add('profile', 'FamilyMember');").btn.btn-success
		.glyphicon.glyphicon-plus
			span(style="margin-left: 0.5em") Add family member
	
	.page-header
		h2 Finances
	
	p
		| Please enter the average amount of support 
		strong per month 
		| in Yen (¥).
		
	.profile
		+numberInObject("Self:", "financialSupportPerMonth", "self", "Monthly amount in Yen (¥)")
		+numberInObject("Remittance from outside Japan:", "financialSupportPerMonth", "remittanceFromOutside", "Monthly amount in Yen (¥)")
		+numberInObject("Carrying from abroad:", "financialSupportPerMonth", "carryingFromAbroad", "Monthly amount in Yen (¥)")
		+numberInObject("Guarantor in Japan:", "financialSupportPerMonth", "guarantorAbroad", "Monthly amount in Yen (¥)")
		+numberInObject("Scholarship:", "financialSupportPerMonth", "scholarship", "Monthly amount in Yen (¥)")
		+numberInObject("Others:", "financialSupportPerMonth", "others", "Monthly amount in Yen (¥)")
	
	.page-header
		h2 Financial Supporters
	
	#financial-supporters.profile
		each supporter, index in user.financialSupporters
			.profile.array-element.financial-supporter
				+textInArray("Name:", "financialSupporters", index, "name")
				+textInArray("Address:", "financialSupporters", index, "address")
				+textInArray("Telephone:", "financialSupporters", index, "telephone")
				+textInArray("Occupation:", "financialSupporters", index, "occupation")
				+textInArray("Company name:", "financialSupporters", index, "company", 何, "Full company name")
				+textInArray("Company telephone:", "financialSupporters", index, "companyTelephone")
				+numberInArray("Annual income:", "financialSupporters", index, "annualIncome", 何, "In Yen (¥)")
				+textInArray("Relationship with the applicant:", "financialSupporters", index, "relation")
				
				a(href="javascript:remove('profile', 'FinancialSupporter', " + index + ");").btn.btn-danger.delete-button
					.glyphicon.glyphicon-remove
	
	button(onclick="add('profile', 'FinancialSupporter');").btn.btn-success
		.glyphicon.glyphicon-plus
			span(style="margin-left: 0.5em") Add financial supporter
	
	.page-header
		h2 Japanese
	
	.profile
		+select("Acquired JLPT level:", "jlptLevel", user.jlptLevel, jlptLevels)
		
	.page-header
		h2 Japanese Study Experience
	
	#education-backgrounds.profile
		each education, index in user.japaneseEducation
			.profile.array-element.education-background
				+textInArray("Institution:", "japaneseEducation", index, "institution")
				+numberInArray("Total hours:", "japaneseEducation", index, "totalHours")
				+textInArray("Text book:", "japaneseEducation", index, "textBook")
				a(href="javascript:remove('profile', 'EducationBackground', " + index + ");").delete-button Delete
	
	button(onclick="add('profile', 'EducationBackground');").btn.btn-success
		.glyphicon.glyphicon-plus
			span(style="margin-left: 0.5em") Add education background
	
	.page-header
		h2 Visa
	
	.profile
		+select("Port of entry:", "portOfEntry", user.portOfEntry, portsOfEntry)
		+text("Place to apply for a visa in your country:", "visaApplicationPlace", 何, "🏢 Location of closest Japanese Embassy or Consulate")
	
	script
		include ../../scripts/arrays.js
		include save.js