if !user
	p= __("error.notLoggedIn")
else
	.page-header
		h1= __("settings")
		
	.page-header
		h2= __("language")
		
	p This feature is currently work in progress!
	
	.btn-group(role="group", aria-label="...")
		each language, code in languages
			- var cssClass = "";
			if user.language.substring(0, 2) === code || (code === "en" && user.language === "")
				- cssClass = "btn-primary";
			else
				- cssClass = "btn-default";
			button(class="btn " + cssClass, onclick="saveLanguage('" + code + "');", type="button", data-languagecode=code)= language
	
	script
		include save.js