if !user
	p= __("error.notLoggedIn")
else
	.page-header
		h1= __("courses")
		
	each studentList, courseName in courses
		h2= courseName
		each student in studentList
			p
				a(href=`/students/${student.email}`)= student.givenName + " " + student.familyName