.label
	margin-left 0.65em

.upload-original-name
	margin-left 1em
	opacity 0.5
	display none

.upload-item:hover
	.upload-original-name
		display inline-block

.stage-link
	&:hover
		text-decoration none

.view-as-button
	margin-left 1em

@media print
	#uploads, #stage
		display none