@require "styles/config.styl"

html, body, *
	font-family "Ubuntu"

body
	color textColor
	background-color bgColor

#title
	font-size 2em

a
a:visited
	text-decoration none
	color linkColor
	
a:focus
a:hover
	color lighten(linkColor, 30%)

h2
h3
p
	container-element()
	padding 0.5em 0

h2
	font-size 1.6em
	line-height 1.6em
	color white
	background elementBgColor
	text-align center
	border-radius 5px
	margin 0.4em 0
	shadow()
	
	:first-child
		padding 0
	
h3
	font-size 1.3em
	line-height 1.3em
	
strong
	font-weight bold