@require "styles/config.styl"

html, body, *
	font-family "Ubuntu"

body
	color textColor
	background-color lighten(mainColor, 90%)

#title
	font-size 2em

a
	text-decoration none
	color mainColor
	
	:hover
		color lighten(mainColor, 30%)

h2
h3
	container-element()
	padding 0.5em 0

h2
	:first-child
		padding 0
	
h2
	font-size 1.5em
	line-height 1.5em
	
h3
	font-size 1.3em
	line-height 1.3em