@require "styles/config.styl"

html, body, *
	font-family "Ubuntu"

body
	color textColor
	background-color lighten(mainColor, 85%)

#title
	font-size 2em

a
	text-decoration none
	color mainColor
	
	:hover
		color lighten(mainColor, 30%)

h2
h3
	container-element()
	padding 0.5em 0
	text-shadow 0 0 16px rgba(0, 0, 0, 0.2)

h2
	:first-child
		padding 0
	
h2
	font-size 1.6em
	line-height 1.6em
	
h3
	font-size 1.3em
	line-height 1.3em
	
strong
	font-weight bold