bgColor =        rgb(255, 255, 255)
sidePanelColor = rgb(255, 255, 255)
elementBgColor = rgb(32, 66, 96)
textColor =      rgb(16, 16, 16)
linkColor =      rgb(74, 107, 138)

container-element()
	float left
	width 100%

shadow()
	box-shadow 0 0 16px rgba(0, 0, 0, 0.2)