bgColor =        rgb(255, 255, 255)
elementBgColor = rgb(36, 36, 36)
textColor =      rgb(16, 16, 16)
linkColor =      rgb(224, 92, 0)

container-element()
	float left
	width 100%
	
shadow()
	box-shadow 0 0 16px rgba(0, 0, 0, 0.2)