@require "styles/config.styl"

#container
#header-container
#content-container
h2
form
	container-element()
	
space = 1em

#header, #content
	float left
	padding space
	width "calc(100% - %s)" % (@padding * 2)
	
#header
	padding-bottom space * 0.5
	border-bottom 1px dashed mainColor
	
#content
	padding-top space * 0.5
	
#title
	float left
	margin-bottom 0.25em
	
#navigation
	container-element()
	
	header
		display none

.navigation-button
	float left
	font-size 1.2em
	padding 0.25em 0.5em

.navigation-button
	display inline-block
	
.navigation-link
	float left