#container
    width 100%
    
#header
    float left
    padding 1em
    width "calc(100% - %s)" % (@padding * 2)
    
#navigation
    float left
    width 100%
    
    header
        display none

.navigation-button
    float left
    font-size 1.2em
    padding 0.25em 0.5em

.navigation-button
    display inline-block