container-element()
    float left
    width 100%

#container
#header-container
#content-container
h2
form
    container-element()
    
#header, #content
    float left
    padding 1em
    width "calc(100% - %s)" % (@padding * 2)
    
#title
    float left
    margin-bottom 0.25em
    
#navigation
    container-element()
    
    header
        display none

.navigation-button
    float left
    font-size 1.2em
    padding 0.25em 0.5em

.navigation-button
    display inline-block
    
.navigation-link
    float left